<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You've been added to the care group for <%= @patient.name %> on CareTeam!</h1>
    <small>
      By: <%= @sender.name %>
    </small>
    <p>
      <%= link_to" #{@patient.name}'s Team", patient_team_url(@patient, @team) %>
    </p>
  </body>
</html>